* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 100vh;
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  margin-right: 10px;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.popover {
  position: absolute;
  max-width: 250px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  z-index: 100;
}

.popover::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
  transform: translateX(-50%);
}

.popover::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  border-width: 7.5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: translateX(-50%);
}

.title {
  margin: 0;
  padding: 10px;
  background-color: whitesmoke;
  border-bottom: 1px lightgray solid;
  font-weight: 400;
  font-size: 16px;
}

.content {
  margin: 0;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
}
